# PRINT FUNCTION

In [2]:
#PRINT FUNCTION IS USED TO PRINT EVERY THING IN PYTHON EX-

In [3]:
print("hare krishna")

hare krishna

In [7]:
#whenever you want to print alphabet u must need to add double inverted commas if you forgot then u will see the error Ex-

In [8]:
print(vijay)

NameError: name 'vijay' is not defined

In [9]:
print('hare krishna') #single inverted comma is also works well but according to coding law double is must

hare krishna

In [13]:
print(2,3,4,5,7)

2 3 4 5 7

# DATA TYPES

In [ ]:
string = a to z "_____" # if you add anything in double inverted comma it will change in string automatically

integer = 1 to 9

float   = 1.0,1.5,etc 

complex = 88 + 8j

boolen  = True/False 1/2

list = ["vijay",94, 19+5j,True]

set = {"vijay",19,False}

tuple = ("vijay",19,"six",19.94)

dict = {"vijay":29,"swapnil":27}

In [17]:
supreme = "krishna" #whatever u added before = called VARIABLE & if u type variable u will see result that u added after =

In [18]:
supreme

'krishna'

# TYPE FUNCTION

# & LENTH FUNCTIONA

In [19]:
#THIS FUNCTION IS USED FOR CHECK THE DATA TYPE EX-

In [20]:
type(supreme)

str

In [1]:
string =("vijay is the best")

In [2]:
type(string)

str

In [3]:
len(string)

17

In [5]:
integer = 45

In [6]:
type(integer)

int

In [20]:
len(integer) # u can not find the lenth of integer,float & complex by using len function

TypeError: object of type 'int' has no len()

In [21]:
float = 4.5

In [22]:
type(float)

float

In [23]:
tuple = ("vijay",45,4.5,True)

In [24]:
len(tuple) #if there is commas between the string the len function comma as one

4

In [25]:
type(tuple)

tuple

In [18]:
complex = 45+4j

In [27]:
list = ["vijay",786, 4.5, False]

In [28]:
len(list)

4

In [29]:
type(list)

list

In [31]:
dictionary = {"vijay":29, "krishna":"infenite"}

In [32]:
len(dictionary)

2

In [33]:
type(dictionary)

dict

In [34]:
set = {"krishna","radha rani",143,True}

In [35]:
type(set)

set

In [36]:
len(set)

4

In [45]:
boolen = True/False, 2/8

ZeroDivisionError: division by zero

In [46]:
len(boolen)

NameError: name 'boolen' is not defined

# VARIBALE

In [48]:
#VARIBALE CANNOT START WITH NUMBER OR THE SPEACIAL CHARACTERS
#SPECIAL CHARACTER ARE ALSO NOT ALLOWED BETWEEN THE VARIBALE OR IN THE LAST
#SPACE IS ALSO NOT ALLOWED IN VARIABLE YOU CAN USE UNDERSCORE INSTEAD OF SPACE EX-vij

In [49]:
VIJAY = ("BEST IN SAPALOGY") ok
vijay_19 = ok
19vijay = x
vijay& = x
vijay kshirsagar = x
vijay_kshirsagar = ok

In [51]:
print(VIJAY)

BEST IN SAPALOGY

In [ ]:
sr_1 = ("kunal is banker")

t_1 = ("kunal", "is", "banker")

t_2 = ("kunal", "is", "banker", 33, 6.8, True)

l_1 = ["kunal", "is", "banker", 33, 6.8, True]

s_1  = {"kunal", "is", "banker", 33, 6.8, True}

d_1 = { "name" : "kunal", "job" :"banker", "age" : 33,  "status": True }

In [ ]:
# Data types:

string = smith
int = 7
float = 6.9
Boolen = True
complex = 3x+4y+z