# Python

Python language was invented in 1991 by Guido Van Russom.
first version was 0.9.0, Current version is 3.11.0 as of today.
big brands including NASA, Google, Facebook they use Python.

## Features of Python

1. Simple to learn, understand & comprehend. Simple to debug.
2. Free & open source/ available for all.
3. It has vast library base.
4. It is friendly to use. user friendly.
5. It supports both Procedural & object oriented programming language.
6. Python is Interpreted language.
7. Globally used language, most widly used language.
8. Dynamically Typed language. (we need not mention the data type of the variable). No need of variable datatype declaration.

In [8]:
'Kaustubh'

'Kaustubh'

In [9]:
int(2)

2

In [ ]:
int=23

In [ ]:
str = str('Kaustubh')

In [10]:
2+2

4

In [11]:
2*3

6

## Variables

In [ ]:
Defination: It is the container/entity that stores the data.

In [ ]:
Rules for defining a variable:
    1. Letters(A-Z, a-z, 0-9)
    2. It should not start with numbers
    3. It can use underscore ( _ ) but not any other special character.(@,$,%,&)
    4. It can not use reserved words. (def, class, any, all, if, elif, int, float, True, False, print etc..)
    5. Case sensitive

In [2]:
a=5

In [3]:
a

5

In [38]:
a = 12546 + 65431

In [39]:
a

77977

In [26]:
b =10

In [36]:
b + a

77987

In [21]:
26534 + a

104511

In [3]:
798945 + a

876922

In [40]:
A1 = 5
A1

5

In [41]:
1A= 5

SyntaxError: invalid syntax (Temp/ipykernel_11192/1286082221.py, line 1)

In [42]:
b2b = 10
b2b

10

In [43]:
z_zebra = 3
z_zebra

3

In [44]:
_zebra = 3
_zebra

3

In [20]:
&zebra = 10
&zebra

SyntaxError: invalid syntax (<ipython-input-20-f6623a8d84f7>, line 1)

In [21]:
def = 10
def

SyntaxError: invalid syntax (<ipython-input-21-6330246a2697>, line 1)

In [45]:
anyv = 10
anyv

10

In [23]:
all = 10
all

10

In [46]:
priyanka = 100
priyanka

100

In [48]:
priyanka

100

In [31]:
a = 5
b = 6

In [32]:
a = 5 ; b = 7

In [33]:
a, b = 5, 8

In [49]:
a,b,c = 5,8,7

In [50]:
a

5

In [51]:
b

8

In [52]:
c

7

In [35]:
A

5

In [ ]:
myvar
Myvar
_My_var
my-var
my123var
123var
var123
myv@r
import 
Any
Import
my^var

In [42]:
priyanka = 98
Nilesh = 97.5
Arti = 97

In [43]:
priyanka - Arti

1

## Global variable & local Variable

In [ ]:
Global variable: Variables defined outside the function body. scope is through out the enitre notebook.
local variable: variables defined inside the function body. scope is only inside the function.

In [9]:
variable1 = 100    # Global variable

def new():
    variable2 = 200     # local variable
    print(variable2)
    print(variable1)
    return variable2

new()

200
100

200

In [6]:
variable1

100

In [10]:
new()

200
100

200

In [8]:
variable2

NameError: name 'variable2' is not defined

In [63]:
Cristiano=393

In [65]:
Cristiano=666

In [66]:
Cristiano

666

In [58]:
name=10
name

10

In [4]:
a

5